@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";


a{
	display: block;
}

.thumbnail{
	position: relative;
	.logo{
		height: 20px;
		width: 20px;
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.logo-games{
		height: 50px;
		width: 50px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
}