
<div class="row">
	<h1>home</h1>	

	<ul>
		<li ng-repeat="obj in topStreams">	
			<h1><a href="#/{{obj.name}}">{{obj.name}}</a></h1>
			<p>TOTAL VIEWERS: {{obj.viewers}}</p>
			<div class="row">
				<ul class="small-block-grid-6">
					<li ng-repeat="stream in obj.streams | limitTo: 6" class="large-2 columns"> 
						<img src="{{stream.preview.large}}">
					<a href="#/{{stream.channel.game}}/{{stream.channel.name}}">{{stream.channel.name}}</a>
					</li>
				</ul>
			</div>
			
		</li>
	</ul>

</div>